In [1]:
x=[1,2,3]
y='bootcamp'
z=x+y

TypeError: can only concatenate list (not "str") to list

1) It produces an error because a list and a string cannot be concatenated

2) type() function tells you what data type the variables are and by using len() function we can get the lenghth

In [7]:
print(type('2'))
print(type(2.0))
print(type("2.0"))
print(type(2>1))
print(type('Itmar'>'Chase'))
print(type([1,2]))
print(type((1,2)))
print(type({1:'one',2:'two'}))

<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

3)The types are listed above and are found using the function type()

4) Question 4

In [10]:
print(1>=0)
print(1 >= 1)
print(1 > 1)
print(1==1)
print(1 == 1.0)
print('Spencer' == "Spencer")
print(2**3 > 3**2)
print(1 >= 0 or 1 <= 2)
print(1 >= 0 and 1 <= 2)

True
True
False
True
True
True
False
True
True

In [20]:
#question 5
#the code runs without an error
if 2>1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

In [25]:
#question 6
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

By default the if statement is always set to true hence it prints the case for true:"On the one hand"

In [26]:
if False:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

In [28]:
if not False:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

In [34]:
#question 7) the code creates a variable x and assigns the value "Chase" 
#this is because the if condition cond has the value true so the if statement evaluates as true
cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
    print(x)

In [43]:
x = [1,2,3,4]
y = ['x', 'y', 'z']
if len(x)>len(y) :
    print("X has more elements than y")
elif len(y)>len(x):
    print("y has more elements than x")   
else:
    print("x and y are of equal length")

X has more elements than y

question 9)
when you slice in python you return the values in the range of indices specified in the arguments when calling the function

In [49]:
#question 10
x = [1, 2, 3, 4, 5]
print('the first element is: ',x[0]) #this is to extract the first element
print('all but the last element:',x[:-1]) #this is to extract all but the last element

the first element is:  1
all but the last element: [1, 2, 3, 4]

In [76]:
#question 11
sentence = 'This is a sentence; please slice it.'
sentence[0:4]
sentence[5:8]
sentence[8]
sentence[10:18]
sentence[20:26]
sentence[27:32]
sentence[33:35]

'it'

In [82]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
x[0]
x[-1]
x[3:7]

['b', 'fast', 'slow', 3]

In [5]:
#Question 13
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for a in x:
    print(a)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

In [7]:
#question 14
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for a in x:
    if (type(a)==str):
        print(a)

a
b
fast
slow
Raghu
Liuren

In [12]:

for i in range(3, 12, 2):
    print(i)

3
5
7
9
11

Question 15. The range function returns an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step. range(3,12,2) will therefore start with 3 and omit the last integer 12 and has a step of 2. It prints: 3,5,7,9,11 as shown above.

In [22]:
#question 16
a=0
for i in range(0,31,3):
    a=a+i
print(a)

165

In [46]:
#question 17
def pocketChange(a,b,c,d):
    penny=1*a
    nickle=5*b
    dime=10*c
    quarter=25*d
    value=(penny+nickle+dime+quarter)/100
    print("$",value)
pocketChange(1,2,3,4)

$ 1.41

In [50]:
#question 18
def notsix(numbers):
    numbers_2 = []
    for i in numbers:
        numstr = str(i)
        if numstr[0] != '6':
            numbers_2.append(i)
    return numbers_2
notsix([1234, 6783, 6, 4321, 9876])

[1234, 4321, 9876]

In [51]:
def notsix(numlist):
    newlist = []
    for num in numlist:
        numstr = str(num)
        if numstr[0] != '6':
            newlist.append(num)
    return newlist
notsix([1234, 6783, 6, 4321, 9876])

[1234, 4321, 9876]

In [54]:
#question 19
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] != "6"]
print(new_list)

[1234, 4321, 9876]

It does the same thing as question 18 above. if the first number in each of the old list sublists starts with 6, it exludes the list from the new_list list.

In [55]:
z = {1: 'one', 2: 'two', 3: 'three'}

In [56]:
print(z)

{1: 'one', 2: 'two', 3: 'three'}

a)z is a dictionary with 3 objects.
b)1,2,3 are keys and 'one','two','three' are values
c)z[2]
d)z.keys returns the value of all the keys. z.values returns the value of all the values
e)list(z.keys()) creates a list with the keys of the dictionary, z as elements in the list
f)list(z.values()) creates a list with the values of the dictionary, z as elements in the list
g) same as e above